/*  your css code here. If applicable */
#grid{
	display:grid;
	gap:2px;
	grid-template-columns:100px 100px 100px 100px;
	color:white;
}

div{
	background-color:green;
	
	
}

.item1{
	grid-column: span 4;
}
.item2{
	grid-row: span 4;
}
.item4{
	grid-column: span 2;
}
.item5{
	grid-column: span 2;
}
.item10{
	grid-column: span 3;
}